{% extends "management/layout.html" %}

{% block body %}
    <h1>Danh sách tài liệu được phân quyền</h1>
    <table>
        <tr style="background: rgb(171, 177, 184);">
            <th>Phòng ban</th>
            <th>Tài liệu</th>
        </tr>
        {% for department in departments %}
            {% if department.User != request.user.username %}
                {% if department.Docs %}
                    {% for doc in department.Docs %}
                    <tr>
                        <td>{{ department.Name }}</td>
                        <td style="text-align: left;"><a href="{{ doc.document.link }}" class="underline">{{ doc }}</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}