{% extends 'management/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="mt-2">Danh sách SOP chưa được phân loại</h1>
      <hr class="mt-0 mb-4">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover" id="sop-table">
      <thead class="thead-dark">
      <tr>
        <th>Phòng ban</th>
        <th>Phân loại</th>
        <th>Tên tài liệu</th>
        <th>Mã tài liệu</th>
        <th>Lần ban hành</th>
        <th>Ngày ban hành</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      {% for sop in SOPlist %}
        <tr>
          <td>{{ sop.issued_by }}</td>
          <td>
            <form method="GET" style="border:none; margin:0px; padding:0px; box-shadow:none; background: none;"
            action="{% url 'Classification' pk=sop.pk %}">
                <select multiple name="classified" style="width:50%; background: 0px;" class="selectpicker" data-title="Select Gender" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                   <option value="GMP">GMP</option>
                   <option value="ISO">ISO</option>
                   <option value="GDP">GDP</option>
                   <option value="GSP">GSP</option>
                   <option value="GMP TPBVSK">GMP TPBVSK</option>
                   <option value="Mỹ phẩm">Mỹ phẩm</option>
                </select>
                <button type="submit" class="btn btn-success">Nhập</button>
            </form>
          </td>
          <td>{{ sop.name }}</td>
          <td>{{ sop.code }}</td>
          <td>{{ sop.revision }}</td>
          <td>{{ sop.issued_date|date:"d/m/y" }}</td>
          <td><a href={{sop.link}} target="_blank" class="btn btn-info" role="button">Xem</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">Không có tài liệu</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}